.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  line-height: 72px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  font-style: normal;
  margin: 183px 0 28px;
  letter-spacing: -0.6px;
  z-index: 1;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 638px;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: 400;
  z-index: 1;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  z-index: 1;
}

.header__paragraph {
  margin: 0;
}
